@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;

}
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
}
/* `${isFlight === 1 ? '#ff0548':isFlight === 2 ? '#04d416': '#ededed'}`} */
.react-tel-input {
    max-width: 200px !important;
    border: none;
    border-left: none;
    text-decoration: underline;
    box-sizing: border-box;
}

.form-control {
    border: none !important;
    width: 100% !important;
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto !important;
    line-height: 22px !important;
    text-overflow: ellipsis !important;
    overflow-x: hidden;
}
.react-tel-input .form-control {
    text-overflow: ellipsis !important;
    overflow-x: hidden !important;
    padding-left: 36px !important;
}
.flag-dropdown {
    background: #fff !important;
    border: none !important;
    border-right: 1px solid #ededed !important;
    width: 30px !important;
}
.react-tel-input .selected-flag {
    padding-left: 2px;
}
.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-actionBar {
    display: none !important;
}

.css-15jcv2p-MuiPickersToolbar-content {
    display: none !important;
}

.css-4pax7l-MuiPickersLayout-root {
    position: relative !important;
}

.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

.MuiPickersToolbar-root {
    display: none !important;
}

.MuiDialogActions-root {
    display: none !important;
}

select option {
    background: white;
}

:where(.css-dev-only-do-not-override-amq5gd).ant-select-single .ant-select-selector {
    border-radius: 0;
}
.ant-select-selector{
    border: none !important;
}

.domain .ant-select-selector {
    font-weight: bold;
    color: #0066ff;
}


.domain .ant-select-selection-item {
    font-weight: bold;
}

.success {
    border: 1px solid #04d416 !important;
}

.default {
    border: 1px solid rgb(206, 206, 206);
}

.error {
    border: 1px solid rgb(255, 45, 45);
}
.ant-select {
    overflow: hidden;
}
/* Item of select  chosen*/
:where(.css-dev-only-do-not-override-amq5gd).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background: #0000000a;
    
}
/* Item of select  active*/
:where(.css-dev-only-do-not-override-amq5gd).ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background: #e6f4ff;
}
.nt-select-arrow {
    font-weight:bold !important;
}
.css-dev-only-do-not-override-amq5gd {
    border: 1px solid white;
}
.css-dev-only-do-not-override-amq5gd:hover {
    border: 1px solid white;
}

.nameCard {
    display: flex;
    width:350px;
    position: relative;
    align-items: center;
    border: 1px solid #dedede;
}

.short {
    display: flex;
    align-items: center;
    width: 110px;
}
.shortxl {
    display: flex;
    width: 135px;
    border: 1px solid #dedede;
}
.icon {
    width: 32px;
    height: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.ant-select-selector {
    padding: 0 !important;
}

.ant-select-arrow {
    color: transparent !important;
    border-top: 2px solid #6a6969 !important;
    border-left: 2px solid #6a6969 !important;
    font-weight: bold;
    width: 8px !important;
    height: 8px !important;
    transform:rotate(-135deg)
}

.favorite .ant-select-arrow {
    position: absolute;
    left: 6px;
}
.favorite .ant-select-selection-item {
    padding-inline-end: 7px !important;
}

.ant-select-selection-search {
    inset-inline-start: 0px!important;
}
.ant-input-affix-wrapper:focus-within {
    border-color:white !important;
}

.ant-input-affix-wrapper {
    border: none !important;
}

.ant-input {
    border: none !important;
}

.favorite .ant-select-selector {
    padding-left: 20px !important;
}
.ant-select-dropdown {
    min-width: 150px !important;
}

.phoneArrow .ant-select-arrow {
    /* transform: ; */
    right: 2px !important;
}

.yearsSelect:where(.css-dev-only-do-not-override-amq5gd).ant-select .ant-select-arrow  {
    inset-inline-end: 2px !important;
}
.triangle {
    clip-path: polygon(29% 0, 100% 0, 100% 100%, 0% 100%);
} 